*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

    background: rbg(27, 27, 27);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color:#E38AAE;
    width: 270px; 
    margin: 10px;
    border-radius: 15px;
}

.card-image { 
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.food-1 {
    background-image: url('Grilled\ Dorade.webp'); 
}
.food-2 {
    background-image: url('Pheasant.webp'); 
}
.food-3 {
    background-image: url('Blue\ Crab.webp'); 
}
.card h2 {
    padding: 10px;
}
.card p {
    padding: 10px;
}
.card a {
    background-color: #7E354D;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.card:hover {
    background-color:grey rbg(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}